/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}
/* ------------- */
/* css custom properties */
:root {
  /* text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* Background gradient: */

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* #### Text */
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);

  /* #### Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}
/* -------------------- */
body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
  font-size: 12px;
  margin-top: 7rem;
}
@media screen and (min-width: 992px) {
  body {
    background: linear-gradient(to right, var(--Soft-violet), var(--Soft-blue));
  }
}
h1 {
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  margin: 2rem auto 1.5rem;
}
main {
  display: grid;
  gap: 1.1em;
}
hr {
  border-color: hsla(240, 0.1%, 99%, 0.3);
  width: 100%;
  height: 0px;
}

.container {
  background: white;
  border-radius: 20px;
  width: 90%;
  max-width: 920px;
  padding: 2em 1.5em 4em;
  margin: 3em auto;
}

.mobile-woman {
  width: 80%;
  margin: -44% auto 0;
}
.mobile-shadow {
  margin-top: -25%;
  margin-left: 10%;
  width: 80%;
}
.trivia {
  cursor: pointer;
}
.question {
  color: var(--Very-dark-grayish-blue);
  font-size: 14px;
  font-weight: 400;
}
.question:hover {
  color: var(--Soft-red);
}

.answer {
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--Dark-grayish-blue);
  font-weight: 400;
}

/* utility classes */
.flex {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}
.flex img {
  margin-left: auto;
  width: 11px;
  height: 9px;
}
.hidden,
.hide {
  display: none;
}

@media screen and (min-width: 992px) {
  .container {
    display: flex;
    gap: 55px;
    position: relative;
    padding-right: 6.25rem;
    padding-bottom: 0;
    padding-top: 0;
  }
  main {
    text-align: left;
    flex: 1;
    margin-bottom: 2.5rem;
    gap: 0.1em;
    padding: 2em 0;
  }

  h1 {
    margin-left: 0;
  }

  .mobile-woman,
  .mobile-shadow {
    display: none;
  }
  picture {
    overflow: hidden;
    position: relative;
    width: 50%;
    right: 1.25rem;
    min-height: 31.25rem;
    padding-top: 3.125rem;
    padding-bottom: 2.5rem;
  }
  .hide {
    display: flex;
  }

  picture img,
  .desktop-box {
    position: absolute;
  }

  .desktop-box {
    left: -95px;
    top: 210px;
    z-index: 2;
  }
  .desktop-woman {
    left: -80px;
  }
  .desktop-shadow {
    left: -570px;
    top: -290px;
  }
}
